@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6 ">Contact</div>
    <div class="lead my-3">
        <p class="my-5"> <i class="fa fa-phone text-primary"></i> ALO 120 BTK Akademi bilgi ve destek hattı</p>
        <p class="my-5"> <i class="fa fa-address-book text-primary"></i> Bilgi Teknolojileri ve İletişim Kurumu Eskişehir Yolu 10.Km
No: 276 Posta Kodu: 06530 Çankaya/Ankara</p>
        <p class="my-5"> <i class="fa-solid fa-envelope text-primary"></i> destek@btkakademi.gov.tr</p>
    </div>
</div>